/* public/css/crudStyle.css */

html, body {
    background-color: #ffffff; 
    background-size: cover; 
    font-family: Arial, sans-serif;
    color: #ffffff; 
    margin: 0; 
    padding: 0; 
    height: 100%; 
}

h1 {
    color: #ffffff; 
    text-align: center;
    margin-top: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    min-height: 100vh; 
}

.btn-custom {
    background-color: #ffe97a;
    color: rgb(0, 0, 0);
}

.alert-custom {
    background-color: #d5f799;
    color: rgb(2, 2, 2);
}

/* Asegúrate de que no haya márgenes adicionales en los botones */
button {
    margin-bottom: 0;
    margin-right: 5px; 
}