/* public/css/formsStyle.css */

html, body {
    height: 100%; /* Asegurar que el fondo cubra toda la página */
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar padding predeterminado */
    background: url('/images/9760871.jpg') no-repeat center center;
    background-size: cover;
}

body {
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    min-height: 100vh; /* Asegurar que el fondo cubra toda la altura de la ventana */
}

.wrapper {
    width: 100%; /* Asegurar que el contenedor ocupe todo el ancho */
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.container {
    max-width: 500px;
    background-color: rgba(247, 247, 247, 0.651); /* Fondo gris con opacidad de 0.9 */
    padding: 20px;
    text-align: center; /* Centrar el contenido del formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.326); /* Añadir sombra para mejor visibilidad */
    margin-left: auto; /* Esto mueve el contenedor hacia la derecha */
    margin-right: 250px; /* Asegura que no haya margen a la derecha */
    border-radius: 10%;

}


h1, h2 {
    color: black; /* Texto negro para los encabezados */
}

.form-group label {
    color: black; /* Texto negro para las etiquetas */
    margin-top: 10px;
}

.btn-primary {
    background-color: #f0d077; /* Fondo azul para los botones */
    border-color: #f0d077; /* Borde azul para los botones */
}

.mt-4 {
    margin-top: 1.5rem; /* Añadir margen superior para separar los botones de los campos */
}

.mb-3 {
    margin-bottom: 1rem; /* Añadir margen inferior para alinear los botones */
}

.form-control {
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
    padding: 12px 15px; /* Ajusta el relleno (espaciado interno) */
    height: auto; /* Ajusta la altura si lo necesitas */
    border-radius: 15px; /* Redondea los bordes de los campos de entrada */
    margin-top: 20px;
    background-color: rgba(253, 211, 72, 0.879); /* Fondo azul claro con opacidad */
    color: #333; /* Color del texto */
}

.form-control:focus {
    border-color: #ff5f02c2; /* Cambia el color del borde al hacer foco */
    background-color: rgba(255, 113, 19, 0.356); /* Fondo más oscuro al hacer foco */
    outline: none; /* Elimina el contorno predeterminado */
}
.register-container {
    display: flex; /* Usa Flexbox para alinear los elementos en fila */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente */
    
}

.register-container h3 {
    margin-right: 10px; /* Añade espacio entre el texto y el enlace */
}
.register-container a {
    color: black; /* Establece el color del enlace a negro */
    
}

.register-container a:hover {
    color: #333; /* Cambia el color cuando el usuario pasa el ratón sobre el enlace */
}
