/* public/css/formsStyle.css */

html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    background: url('/images/fondo.jpg') no-repeat center center;
    background-size: cover;
}

body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}

.wrapper {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.container {
    max-width: 500px;
    background-color: rgba(247, 247, 247, 0.651); 
    padding: 20px;
    text-align: center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.326);
    margin-left: auto; 
    margin-right: 250px; 
    border-radius: 10%;

}


h1, h2 {
    color: black;
}

.form-group label {
    color: black;
    margin-top: 10px;
}

.btn-primary {
    background-color: #f0d077;
    border-color: #f0d077;
    color: black;
}


.btn-primary:hover {
    background-color: #d5f799; 
    border-color: #d5f799; 
    color: black;
}

.mt-4 {
    margin-top: 1.5rem; 
}

.mb-3 {
    margin-bottom: 1rem; 
}

.form-control {
    font-size: 1.2rem; 
    padding: 12px 15px; 
    height: auto; 
    border-radius: 15px; 
    margin-top: 20px;
    background-color: rgba(253, 211, 72, 0.879); 
    color: #333; /* Color del texto */
}

.form-control:focus {
    border-color: #ff5f02c2; 
    background-color: rgba(255, 113, 19, 0.356); 
    outline: none;
}
.register-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
}

.register-container h3 {
    margin-right: 10px; 
}
.register-container a {
    color: black; 
    
}

.register-container a:hover {
    color: #333; 
}
