/* Elimina márgenes y rellenos en todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total de los elementos */
}

/* Footer */
.footer {
    background-color: #f8a950;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

/* Body con flexbox para asegurar que el footer esté siempre al final */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe el 100% de la altura de la ventana */
}

/* Esto asegura que el contenido principal ocupe el espacio disponible */
.main-content {
    flex: 1;
}

/* Navbar y otras personalizaciones */
.navbar {
    background-color: #fdfdfd;
}

.navbar-dark .navbar-brand, 
.navbar-dark .navbar-nav .nav-link {
    color: black !important;
}

.navbar-brand img {
    max-width: 30px;
    max-height: 30px;
    width: 100px;
    height: auto;
}

.second-banner {
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

.custom-navbar {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.custom-navbar .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.custom-navbar .navbar-brand {
    color: white;
    font-size: 15px;
    text-align: center;
}

.custom-navbar .navbar-brand:hover {
    color: #ff6a00;
}

.custom-moving-navbar {
    background-color: #ffe97a;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
}

.custom-moving-navbar2 {
    background-color: #d5f799;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
}

.moving-text {
    display: inline-block;
    white-space: nowrap;
    animation: scrollText 15s linear infinite;
    font-size: 18px;
    color: rgb(4, 4, 4);
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#cartSidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    padding: 20px;
    display: none; /* Iniciado oculto */
    z-index: 999;
}

#cartSidebar h3 {
    text-align: center;
}

#cartSidebar .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
}

.open-cart-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffd84b;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}

.open-cart-btn:hover, .close-btn:hover {
    background-color: #ff9d00;
}

.btn-custom {
    background-color: #ff6347;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #ff4500;
    color: white;
}
